@model TimeReportingSystem.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<div class="form-signin">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <h2 class="form-signin-heading">@ViewBag.Title</h2>
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Login" })
        @Html.ValidationMessageFor(m => m.Login)

        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.Password)

        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
