@model List<TimeReportingSystem.ViewMidels.ProjectsViewModel>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<ul id="playlist" class="list-group">
    @foreach (var project in Model)
    {
        <li class="list-group-item">    
            <h2 class="list-group-item-heading">
                @Html.ActionLink(project.Name, "Details", new { id = project.ProjectId })
                <h4>@project.Description</h4>
                <p>Start date</p>
                <h4>@project.StartDate</h4>
                <p>End date</p>
                <h4>@project.EndDate</h4>
                <p>Id task</p>
                <h4>@project.TaskId</h4>
</h2>
        </li>
    }
</ul>